/* NAVBAR */
.container_navbar {
    width: 100%;
    height: 100px;
    padding: 0px 20px;

    background-color: #1f1f1f;
    box-shadow: 0px 0px 30px -10px;
    z-index: 1000;

    display: flex;
    align-content: center;
    justify-content: center;
    justify-content: space-between;
}

.container_navbar .input {
    margin: auto;
    margin-left: 28%;
    width: 50%;
    height: 50px;

    display: flex;
}

input {
    width: 90%;
    min-width: 200px;
    height: 100%;
    border: 3px solid transparent;
    padding: 0px 30px;

    border-radius: 20px;
    transition: ease all .5s;
}

input:focus {
    outline: none;
    border: 3px solid #ff800d;
}

.input i {
    cursor: pointer;
    margin-left: -65px;
    margin-top: -4px;
    font-size: 30px;
    /* border: 2px solid red; */
    padding: 5px 15px;
}

.logomarca {
    margin: auto;
    width: 15%;
    min-width: 170px;
    max-width: 300px;
    height: 75px;
}

/* FIM NAVBAR */

/* SUB-NAVBAR */
.container_subnavbar {
    display: block;
    width: 90px;
    height: 100vh;
    padding: 100px 0px 50px 20px;
    background-color: #ff800d;
    color: #f1f1f1;

    overflow: hidden;

    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    box-shadow: 0px 0px 30px -10px #1f1f1f;

    position: fixed;

    transition: all ease .5s;
}

.container_subnavbar:hover {
    width: 350px;
}

.container_subnavbar ul {
    list-style-type: none;
    cursor: pointer;
    height: 100%;
}

ul li.item_menu a {
    text-decoration: none;
    color: #f1f1f1;
    font-size: 40px;

    width: 400px;
    padding: 20px 4%;
    display: flex;
    transition: all ease .5s;
}

ul li.item_menu a:hover {
    color: #1f1f1f;
}

ul li.item_menu a .txt_link {
    margin-left: 35px;
}

/* FIM SUB-NAVBAR */